<html>
    <head>
        <title>AttestaFion</title>
    </head>
    <body>
		<style>
			form {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			input {
				width: 250px;
			}

			#main {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		</style>
		<div id="main">
			<h1>AttestaFion</h1>
			<h2>Le générateur d'attestations COVID</h2>
			<h3>(pas comme les autres)</h3>
			<form action="/attestation" method="post" novalidate>
				{{ form.hidden_tag() }}

				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
					{% for message in messages %}
					<span style="color: red;">{{ message }}</span>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
				
				<p>
					{{ form.firstname.label }}<br>
					{{ form.firstname(size=64) }}
				</p>

				<p>
					{{ form.lastname.label }}<br>
					{{ form.lastname(size=64) }}
				</p>

				<p>
					{{ form.birthday.label }}<br>
					{{ form.birthday(size=64) }}
				</p>

				<p>
					{{ form.placeofbirth.label }}<br>
					{{ form.placeofbirth(size=64) }}
				</p>

				<p>
					{{ form.address.label }}<br>
					{{ form.address(size=64) }}
				</p>

				<p>
					{{ form.city.label }}<br>
					{{ form.city(size=64) }}
				</p>

				<p>
					{{ form.zipcode.label }}<br>
					{{ form.zipcode(size=5) }}
				</p>

				<p>
					{{ form.reason.label }}<br>
					{{ form.reason() }}
				</p>

				<p>
					{{ form.delay.label }}<br>
					{{ form.delay(size=5) }}
				</p>
				<p>exemple: il est 16h, si vous renseignez un délai de 42 minutes, l'attestation générée présentera une heure de 15h18</p>

				<p>{{ form.submit() }}</p>
			</form>

			<h3>Vos données ne sont pas enregistrées.</h3>
			<h3>L'attestation est détruite à la fin du téléchargement.</h3>
		</div>

		<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="attestafion" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF813F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    </body>
</html>